@model List<Movie_Rental_Store_Management_System.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<br />
@if(User.IsInRole("SuperAdmin"))
{<div class="top-right">
    @Html.ActionLink("Add Movie", "CreateMovie", "Movies", new { @class = "btn btn-primary" })
</div>
}
</br>
<table class="table table-bordered table-responsive" id="movies">
    <thead>
    <th>
        Movie
    </th>
            <th>Genre</th>
    @if(User.IsInRole("SuperAdmin"))
    {<th>Delete</th>
    }
        </thead>
    <tbody>
        @foreach(var movie in Model)
        {
            <tr>
                <td>@Html.ActionLink(@movie.Name, "Edit", "Movies", new {@movie.Id },null)</td>
                <td>@movie.Genre.Name</td>
                @if (User.IsInRole("SuperAdmin"))
                {
                <td>@Html.ActionLink("Delete", "Delete", "Movies", new { id = @movie.Id }, null)</td>

                }
            </tr>
        }

    </tbody>

</table>
@section scripts{
    <script>

        $(document).ready(
            function () {
                $("#movies").DataTable();
            }

            );

    </script>

}

